.best-product__title-wrapper {
  .bold-font();
}

.best-product__title {
  font-size: 17px;
  line-height: 20px;
  color: @coral-color;
}

.best-product__name {
  font-size: 25px;
  line-height: 30px;
}

.best-product__advantages {
  color: @item-color;
  font-size: 15px;
  line-height: 24px;
}

.best-product__field,
.best-product__value {
  color: @item-color;
  font-size: 15px;
  line-height: 20px;
}

.best-product__image {
  background-color: #cccccc;
}

.best-product__price {
  .bold-font();
  color: @item-color;
}

.best-product__price-value {
  font-size: 17px;
  line-height: 24px;
}

.best-product__button {
  font-size: 17px;
}
