.best-product {
  position: relative;
}

.best-product__title-wrapper {
  .bold-font();
  display: flex;
  flex-direction: column;
}

.best-product__title {
  font-size: 17px;
  line-height: 20px;
  color: @coral-color;
  order: 2;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.best-product__name {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  letter-spacing: 1.2px;
  margin-bottom: 5px;
}

.best-product__advantages {
  color: @item-color;
  width: 250px;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
}

.best-product__list {
  border-spacing: 0;
  margin-bottom: 22px;
}

.best-product__list td {
  border-bottom: 1px solid #cccccc;
}

.best-product__field {
  width: 67px;
}

.best-product__value {
  padding-left: 30px;
  padding-right: 40px;
}

.best-product__field,
.best-product__value {
  color: @item-color;
  font-size: 15px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.best-product__image {
  background-color: @image-color;
}

.best-product__image-content {
  width: 260px;
  height: 315px;
}

.best-product__price {
  .bold-font();
  color: @item-color;
  text-align: center;
  padding-top: 5px;
}

.best-product__price-value {
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}

.best-product__button {
  font-size: 17px;
}

@media (min-width: @tablet-width) {
  .best-product__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .best-product__title-wrapper {
    flex-direction: row;
    align-items: center;
    margin-bottom: 42px;
  }

  .best-product__title {
    width: 70px;
    text-align: center;
    margin-left: 160px;
    line-height: 17px;
  }

  .best-product__name {
    font-size: 43px;
    line-height: 50px;
    letter-spacing: 1px;
  }

  .best-product__advantages {
    width: 280px;
    font-size: 17px;
    line-height: 30px;
    margin: 0 0 35px 0;
  }

  .best-product__image {
    width: 333px;
    height: 404px;
    margin-left: auto;
  }

  .best-product__image-content {
    width: 333px;
    height: 404px;
  }

  .best-product__price {
    position: absolute;
    left: -5px;
    bottom: 16px;
    width: 300px;
  }

  .best-product__price-value {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 35px 0;
  }

  .best-product__button {
    padding: 14px 101px;
  }
}

@media (min-width: @desktop-width) {
  .best-product {
    padding-top: 70px;
  }

  .best-product__title-wrapper {
    padding-left: 45px;
    margin-top: 33px;
    margin-bottom: 23px;
    align-items: center;
  }

  .best-product__name {
    font-size: 53px;
    line-height: 57px;
    z-index: 1;
  }

  .best-product__description {
    padding-top: 20px;
    padding-left: 175px;
  }

  .best-product__advantages {
    margin-bottom: 48px;
  }

  .best-product__image {
    width: 525px;
    height: 636px;
    margin-top: -140px;
    margin-left: auto;
  }

  .best-product__image-content {
    width: 525px;
    height: 636px;
  }

  .best-product__price {
    left: 170px;
    bottom: 52px;
  }

  .best-product__title {
    order: -1;
    margin-left: 0;
    margin-right: 60px;
  }
}
