.best-products__wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .best-products__wrapper {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .best-products__wrapper {
    width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
