.button {
  .bold-font();
  color: @item-color;
  font-size: 18px;
  line-height: 20px;
  background-color: inherit;
  text-transform: uppercase;
  border: 2px  solid @item-color;
  padding: 15px 84px;
}
