.contacts__list {
  .list-reset();
}

.contacts__item {
  display: flex;
}

.contacts__title {
  .bold-font();
  font-size: 18px;
  line-height: 30px;
}

.contacts__field,
.contacts__value,
.contacts__link {
  .regular-font();
  font-size: 15px;
  line-height: 30px;
  color: @item-color;
  margin: 0;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__list {
    flex-direction: column;
  }
}
