.header-logo {
  text-align: center;
  padding-bottom: 22px;
  border-bottom: 1px solid #cccccc;
}

@media (min-width: @tablet-width) {
  .header-logo {
    padding-top: 22px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .header-logo {
    margin-right: 172px;
    margin-left: 70px;
  }
}
