.index-promo {
  background-image: url("../../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: @image-color;
}

@media (min-width: @tablet-width) {
  .index-promo {
    padding-top: 90px;
    margin-top: -85px;
  }
}

@media (min-width: @desktop-width) {
  .index-promo {
    padding-top: 94px;
  }
}
