.item-card:not(:last-child) {
  margin-bottom: 30px;
}

.item-card__image {
  background-color: #f1f1f1;
}

.item-card__image-content {
  width: 260px;
  height: 195px;
}

.item-card__name {
  margin: 24px 0 5px 0;
}

.item-card__name a {
  .bold-font();
  text-decoration: none;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  margin-top: 23px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.item-card__content {
  border: 1px solid @image-color;
}

.item-card:hover .item-card__content {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.item-card:hover .item-card__name {
  opacity: 0.6;
}

.item-card:active .item-card__content {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.item-card:active .item-card__name {
  opacity: 0.3;
}

.item-card__description-wrapper {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}

.item-card__description {
  .regular-font();
  font-size: 13px;
  line-height: 30px;
  color: @item-color;
  margin: 0;
}

.item-card__price-wrapper {
  display: flex;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
}

.item-card__price {
  .bold-font();
  font-size: 15px;
  line-height: 24px;
}

.item-card__purchase {
  width: 20px;
  height: 20px;
  border: none;
  margin-left: auto;
  background-color: inherit;

  &:hover path {
    fill: @seafoam-blue;
  }

  &:focus {
    fill-opacity: 0.3;
    outline: none;
  }
}

@media (min-width: @tablet-width) {
  .item-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
  }

  .item-card__image-content {
    width: 334px;
    height: 334px;
  }

  .item-card__content {
    display: flex;
    flex-direction: column;
    border: 1px solid @image-color;
    padding-left: 26px;
    padding-right: 25px;
  }

  .item-card:not(:last-child) {
    margin-bottom: 51px;
  }

  .item-card__description-wrapper {
    width: 230px;
    margin-left: 0;
    margin-right: 50px;
    border-bottom: none;
  }

  .item-card__name a {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
  }

  .item-card__description {
    font-size: 15px;
    line-height: 30px;
  }

  .item-card__image {
    width: 334px;
    height: 335px;
  }

  .item-card__price-wrapper {
    width: 268px;
    border-top: 1px solid @image-color;
    margin: auto 0 0 5px;
  }

  .item-card__price {
    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .item-card {
    display: flex;
    flex-direction: column;
    width: 315px;
    height: auto;
    margin-bottom: 0;
  }

  .item-card__image-link {
    height: 462px;
  }

  .item-card__name a {
    font-size: 20px;
    line-height: 24px;
  }

  .item-card__image-content {
    width: 316px;
    height: 462px;
  }

  .item-card__content {
    padding: 0;
  }

  .item-card:not(:last-child) {
    margin-bottom: 0;
  }

  .item-card__description-wrapper {
    padding: 0;
    margin-bottom: 13px;
    margin-left: 28px;
  }

  .item-card:not(:last-child) .item-card__description-wrapper {
    margin-bottom: 35px;
  }

  .item-card__image {
    width: 316px;
    height: 462px;
  }

  .item-card__purchase {
    margin-right: 20px;
  }

  .item-card__price-wrapper {
    margin: auto 0 0 26px;
  }
}
