.item-card__image {
  background-color: #f1f1f1;
}

.item-card__name {
  .bold-font();
  font-size: 17px;
  line-height: 24px;
}

.item-card__description {
  .regular-font();
  font-size: 13px;
  line-height: 30px;
  color: @item-color;
}

.item-card__price {
  .bold-font();
  font-size: 15px;
  line-height: 24px;
}
