.main-catalog {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .main-catalog {
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-catalog {
    width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
