.name-form__legend {
  .filter-title();
}

.name-form__field {
  .bold-font();
  font-size: 17px;
  line-height: 18px;
}

.name-form__input::placeholder {
  .regular-font();
  font-size: 17px;
  line-height: 18px;
}
