.order-form__ask {
  .regular-font();
  font-size: 13px;
  line-height: 24px;
  color: @item-color;
}

.order-form__remind {
  .regular-font();
  font-size: 14px;
  line-height: 16px;
  color: @item-color;
}
