.promo-goods {
  .list-reset();
  display: flex;
  flex-direction: column;
}

.promo-goods__item {
  position: relative;
  font-size: 19px;
  line-height: 24px;
  transition: all 0.5s;

  &:hover {
    transform: translateY(-5px);
  }
}

.promo-goods__item:first-child {
  background-color: @seafoam-blue;
}

.promo-goods__item:first-child::after {
  position: absolute;
  content: "";
  top: 27px;
  right: 37px;
  width: 40px;
  height: 62px;
  background-image: url("../img/icon-interior.svg");
  opacity: 0.5;
}

.promo-goods__item:last-child {
  background-color: @aqua-marine;
}

.promo-goods__item:last-child::after {
  position: absolute;
  content: "";
  top: 25px;
  right: 27px;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-toy.svg");
  opacity: 0.5;
}

.promo-goods__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 28px 190px 28px 29px;
}

@media (min-width: @tablet-width) {
  .promo-goods {
    flex-direction: row;
  }

  .promo-goods__item:active .promo-goods__link {
    opacity: 0.3;
  }

  .promo-goods__item:first-child .promo-goods__link {
    padding: 35px 187px 34px 36px;
  }

  .promo-goods__item:last-child .promo-goods__link {
    padding: 35px 204px 34px 36px;
  }

  .promo-goods__link {
    letter-spacing: 1.5px;
  }
}

@media (min-width: @desktop-width) {
  .promo-goods__item:first-child .promo-goods__link {
    width: 111px;
    height: 50px;
    padding: 35px 377px 34px 37px;

    & .promo-goods__link .promo-goods__link {
      width: 111px;
      height: 50px;
    }
  }

  .promo-goods__item:active .promo-goods__item::after {
    opacity: 0.3;
  }

  .promo-goods__item:last-child .promo-goods__link {
    padding: 35px 395px 34px 37px;
    width: 94px;
  }
}
