.reviews__title {
  .bold-font();
  font-size: 25px;
  line-height: 30px;
}

.reviews__item {
  .regular-font();
  font-size: 15px;
  line-height: 30px;
  color: @item-color;
}

.reviews__author-name {
  .bold-font();
  color: @link-color;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
}

.reviews__author-id {
  font-size: 17px;
  line-height: 30px;
}
