.shop-promo {
  background-color: @image-color;
  padding-bottom: 70px;
}

.shop-promo__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.shop-promo__header {
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .shop-promo {
    margin-top: -85px;
    padding-bottom: 100px;
    background-image: url("../../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-position: 0 223px;
  }

  .shop-promo__wrapper {
    position: relative;
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .shop-promo__header {
    padding-top: 107px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .shop-promo {
    background-position: 0 243px;
  }
}
