.type-filter__input-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 32px;
}

.type-filter__radio {
  .bold-font();
  position: relative;
  font-size: 17px;
  line-height: 18px;
  width: 160px;
  padding-left: 62px;
}

.type-filter__radio:not(:last-child) {
  margin-bottom: 25px;
}

.type-filter__legend {
  .filter-title();
}

.type-filter__radio-input {
  display: none;
}

.type-filter__radio-button {
  position: absolute;
  top: -10px;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid @item-color;
  border-radius: 50%;
}

.type-filter__radio:hover .type-filter__radio-button {
  border-color: @seafoam-blue;
}

.type-filter__radio:active .type-filter__radio-button {
  border-color: rgba(0, 0, 0, 0.3);
}

.type-filter__radio-input:checked + .type-filter__radio-button::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  width: 16px;
  height: 16px;
  background-color: @seafoam-blue;
  border-radius: 50%;
}

@media (min-width: @tablet-width) {
  .type-filter__input-wrapper {
    margin-left: 130px;
    padding-top: 40px;
    padding-bottom: 77px;
  }

  .type-filter__radio {
    font-size: 19px;
    line-height: 19px;
    width: 250px;
    padding-left: 118px;
  }

  .type-filter__radio:not(:last-child) {
    margin-bottom: 57px;
  }

  .type-filter__radio-button {
    top: -15px;
    left: 36px;
    width: 49px;
    height: 49px;
  }

  .type-filter__radio-input:checked + .type-filter__radio-button::before {
    top: 14px;
    left: 15px;
    width: 20px;
    height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .type-filter__input-wrapper {
    padding-left: 8px;
  }
}
