.user-list {
  .list-reset();
  text-align: center;
}

.user-list__item {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cccccc;
}

.user-list__search {
  padding-right: 15px;
}

.user-list__basket {
  padding-left: 25px;
}

.user-list__link {
  position: relative;
  .bold-font();
  font-size: 17px;
  line-height: 24px;
  color: @link-color;
  text-decoration: none;
}

.user-list__link-icon {
  position: absolute;
  left: -35px;
  fill: #cccccc;
}

.user-list__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-list__link:hover .user-list__link-icon {
  fill: @seafoam-blue;
}

.user-list__link:hover .user-list__basket-icon {
  fill: @seafoam-blue;
}

.user-list__link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-list__link:focus svg {
  fill-opacity: 0.3;
}

.user-list__basket-icon {
  position: absolute;
  left: -10px;
  fill: #cccccc;
}

@media (min-width: @tablet-width) {
  .user-list {
    order: 2;
    display: flex;
  }

  .user-list__search-text {
    display: none;
  }

  .user-list__search {
    padding-right: 82px;
  }

  .user-list__link-icon {
    top: 4px;
    left: 32px;
  }

  .user-list__item {
    border-bottom: none;
    border-left: 1px solid #cccccc;
  }

  .user-list__basket {
    letter-spacing: 0.6px;
  }

  .user-list__basket-icon {
    top: 3px;
    left: -27px;
  }

  .user-list__item:nth-child(2) {
    padding-left: 58px;
  }
}
