.video-card {
  position: relative;
  padding-top: 25px;
  padding-bottom: 43px;
}

.video-card__title {
  .bold-font();
  position: relative;
  margin-left: 90px;
  letter-spacing: 0.7px;
  margin-bottom: 25px;
  width: 126px;
  font-size: 17px;
  line-height: 24px;
}

.video-card__title::before {
  position: absolute;
  content: "";
  top: 11px;
  left: -56px;
  width: 32px;
  height: 22px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.video-card__video-content {
  margin-bottom: 13px;
  width: 260px;
  height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
}

.video-card:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.video-card:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.video-card__play-button {
  position: absolute;
  top: 150px;
  left: 80px;
  width: 101px;
  height: 77px;
  border-radius: 20px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:hover {
    width: 121px;
    height: 92px;
  }

  &:focus {
    width: 81px;
    height: 62px;
    opacity: 0.3;
    outline: none;
  }
}

.video-card__text {
  .regular-font();
  width: 180px;
  margin-left: 34px;
  margin-bottom: 38px;
  font-size: 13px;
  line-height: 24px;
  color: @item-color;
}

.video-card__button {
  font-size: 17px;
  height: 17px;
  padding: 15px 24px;
  text-decoration: none;
  margin-left: 33px;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  background-image: url("../../img/video-mobile@2x.jpg");
}

@media (min-width: @tablet-width) {
  .video-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
  }

  .video-card__content {
    border: 1px solid #cccccc;
  }

  .video-card__title {
    width: 245px;
    margin-top: 33px;
    margin-left: 106px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    order: 1;
  }

  .video-card__description {
    padding-top: 70px;
    padding-bottom: 41px;
    margin-top: -60px;
    border: 1px solid @image-color;
    border-top: none;
    order: 2;
  }

  .video-card__title::before {
    top: 2px;
    left: -64px;
  }

  .video-card__video-content {
    width: 668px;
    height: 455px;
    order: -1;
    margin-bottom: 0;
    background-image: url("../../img/video-tablet@1x.jpg");
  }

  .video-card__play-button {
    top: 220px;
    left: 285px;
  }

  .video-card__text {
    width: 581px;
    font-size: 15px;
    line-height: 30px;
    margin-left: 40px;
    margin-bottom: 50px;
  }

  .video-card__button {
    text-align: center;
    padding: 13px 222px 16px 217px;
    margin-left: 40px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../../img/video-tablet@2x.jpg");
  }
}

@media (min-width: @desktop-width) {
  .video-card {
    flex-direction: row;
    position: relative;
  }

  .video-card__title {
    position: absolute;
    right: 140px;
    top: 96px;
    width: 150px;
    margin: 0;
  }

  .video-card__title::before {
    top: -47px;
    left: 2px;
  }

  .video-card__description {
    padding-top: 166px;
    padding-left: 45px;
    padding-right: 53px;
    padding-bottom: 0;
    margin-top: 0;
    border-top: 1px solid @image-color;
  }

  .video-card__picture {
    height: 455px;
  }

  .video-card__text {
    width: 230px;
    margin-left: 35px;
    margin-bottom: 60px;
  }

  .video-card__video-content {
    width: 680px;
    margin-bottom: 0;
    background-image: url("../img/video-desktop@1x.jpg");
  }

  .video-card__play-button {
    top: 188px;
    left: 290px;
  }

  .video-card__button {
    padding: 14px 43px;
    margin-left: 36px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/video-desktop@2x.jpg");
  }
}
